---
import Icon from "astro-icon";
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-3" title="About me">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      Hi, I'm Shubham, An Innoative and Critical Thinker from India.
      <br />
      My primary tools of choice includes:
      <ul class="list-disc list-inside">
        <li role="link">JavaScript + TypeScript</li>
        <li role="link">React + NextJS</li>
        <li role="link">React Native</li>
        <li role="link">Astro</li>
        <li role="link">Python ( Django )</li>
        <li role="link">Nodejs</li>
      </ul>
    </p>
    <p class="text-sm font-light">
      Beyond coding, I'm passionate about everything that has to with Technology
      and Cars. An unusual hobby of mine is Hacking and Sudoko, they're
      interesting doze of puzzles to me.
    </p>
    <p class="text-sm font-light">
      While I have some preferred tools, I always choose the best one for the
      job, even if it's not on my usual list. My goal is to find the right
      solution for each project.
    </p>
  </div>
</Card>
