---
import Icon from "astro-icon";
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-3" title="About me">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      Hi, I'm Shubham, An Innoative and Critical Thinker!
      <br />
      Key Achivements:
      <ul class="list-disc list-inside">
        <li role="link">One of the youngest dev to be certified by HackerRank and IBM</li>
        <li role="link">Won 5 National Hackathon at the age of 17</li>
        <li role="link">Contributed to more than 16 Companies</li>
        <li role="link">Been a Top Rated Developer on Freelancing Platforms</li>
        <li role="link">Built Multiple Flagship AI SaaS Products</li>
      </ul>
    </p>
    <p class="text-sm font-light">
      Beyond problem solving with technology, I'm passionate about everything that has to with Cars. I Love Reading!
    </p>
  </div>
</Card>
