---
import Card from "./Card/index.astro";
import Pulse from "./Pulse.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-1">
  <div class="flex justify-between w-full items-start mb-2">
    <div class="flex flex-col">
      <h2>Projects</h2>
      <a href="https://sive.rs/nowff" target="_blank">
        <h6 class="text-xs text-gray-500 cursor-pointer">Click on Project to know more!</h6>
      </a>
    </div>
    <Pulse />
  </div>
  <a href="https://github.com/Shub3am/Audily-AI"><p class="text-xm">Audily AI</p></a>
  <a href="https://github.com/Shub3am/SuperVision"><p class="text-xm">SuperVision AI</p></a>
  <a href="https://github.com/Shub3am/Sustainable-Miles"><p class="text-xm">Sustainable Miles</p></a>
  <a href="https://github.com/Shub3am/SpeechLingo-AI"><p class="text-xm">SpeechLingo-AI</p></a>
  <a href="https://github.com/Shub3am/Namaste"><p class="text-xm">Namaste</p></a>
</Card>
